@model Job_Board.Models.JobModel

@{
    ViewData["Title"] = "Details";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text" style="word-break: break-all;">
                    <h3>@Model.Title</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="job_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="job_details_header">
                    <div class="single_jobs white-bg d-flex justify-content-between">
                        <div class="jobs_left d-flex align-items-center">
                            <div class="thumb" style="padding:0px;">
                                <img src="@Model.Recruter.ProfilePicture" alt="" style="width: 80px; height: 80px;">
                            </div>
                            <div class="jobs_conetent" style="word-break: break-all;">
                                <a href="#"><h4>@Model.Title</h4></a>
                                <div class="links_locat d-flex align-items-center">
                                    <div class="location">
                                        <p> <i class="fa fa-map-marker"></i> @Model.Location</p>
                                    </div>
                                    <div class="location">
                                        <p> <i class="fa fa-clock-o"></i> @(Model.JobNature == Job_Board.Models.enums.JobNature.FullTime? "Full TIme": "Part TIme")</p>
                                    </div>
                                    <div class="location">
                                        <p> <i class="fa fa-list-alt"></i> @if (Model.Category != null)@Model.Category.Name</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="jobs_right">
                            <div class="apply_now">
                                @if (User.IsInRole("Developer"))
                                {
                                    <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="descript_wrap white-bg">
                    <div class="single_wrap" style="word-break: break-all;">
                        <h4>Job description</h4>
                        <p>
                            @Html.Raw(Model.Description)
                        </p>

                    </div>
                </div>

                
                <div class="apply_job_form white-bg" id="apply">
                    <h4>Apply for the job</h4>
                    @if (User.IsInRole("Developer"))
                    {
                        @if (ViewBag.IsApplied != null)
                        {
                            <p style="color:#2c9266;"> <i class="fa fa-check" aria-hidden="true"></i> Already applied</p>
                        }
                        else
                        {
                            <form asp-action="Apply" class="js-apply-job" data-post-id="@Model.Id">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="submit_btn">
                                            <button type="submit" class="boxed-btn3 w-100" type="submit">Apply Now</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        }
                    }
                    else { 
                    <a href="/Account/Login" style="color: blue;text-decoration: underline;"> Sign in to apply</a>
                    }
                    

                </div>

            </div>
            <div class="col-lg-4">
                <div class="job_sumary">
                    <div class="summery_header">
                        <h3>Job Summery</h3>
                    </div>
                    <div class="job_content">
                        <ul>
                            <li>Published on: <span>@Model.PublishedAt.ToString("dd/mm/yyyy HH:mm") </span></li>
                            <li>Vacancy: <span>@Model.Vacancy Position</span></li>
                            <li>Salary: <span>@Model.Salary</span></li>
                            <li>Location: <span>@Model.Location</span></li>
                            <li>Job Nature: <span> @(Model.JobNature == Job_Board.Models.enums.JobNature.FullTime? "Full TIme": "Part TIme") </span></li>
                        </ul>
                    </div>
                </div>
                <div class="share_wrap d-flex">
                    <span>Share at:</span>
                    <ul>
                        <li><a href="#"> <i class="fa fa-facebook"></i></a> </li>
                        <li><a href="#"> <i class="fa fa-google-plus"></i></a> </li>
                        <li><a href="#"> <i class="fa fa-twitter"></i></a> </li>
                        <li><a href="#"> <i class="fa fa-envelope"></i></a> </li>
                    </ul>
                </div>
                <div class="job_location_wrap">
                    <div class="job_lok_inner">
                        <div id="map" style="height: 200px;"></div>
                        <script>
                            function initMap() {
                                var uluru = { lat: -25.363, lng: 131.044 };
                                var grayStyles = [
                                    {
                                        featureType: "all",
                                        stylers: [
                                            { saturation: -90 },
                                            { lightness: 50 }
                                        ]
                                    },
                                    { elementType: 'labels.text.fill', stylers: [{ color: '#ccdee9' }] }
                                ];
                                var map = new google.maps.Map(document.getElementById('map'), {
                                    center: { lat: -31.197, lng: 150.744 },
                                    zoom: 9,
                                    styles: grayStyles,
                                    scrollwheel: false
                                });
                            }

                        </script>
                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&callback=initMap"></script>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".js-apply-job").on("submit", function (e) {
                e.preventDefault();

                var link = $(e.target);
                var token = link.find("input[name='__RequestVerificationToken'").val();
                var id = link.attr("data-post-id");
                var parent = link.parent();

                console.log(token);
                console.log(id);

                $.ajax({
                    url: "/Api/Job/Apply",
                    method: "POST",
                    headers: { "X-CSRF-TOKEN": token },
                    data: { "JobId": id },
                    success: function (data, status) {
                        console.log(status);
                        link.empty(500);
                        parent.append('<p style="color:#2c9266;"> <i class="fa fa-check" aria-hidden="true"></i>Applied</p>')
                    },
                    error: function (data, status, fx) {
                        console.log(link);
                        alert("Failed to apply");
                    }
                });
            });
        });
    </script>
}